
        header{
        margin-top: 1.5%;
        display: flex;
        justify-content: center;
        }

        nav{
        margin-top: 1.3%;
        background-color: rgb(255, 255, 0);
        display: flex;
        justify-content: center;
        width: 90%;
        font-size: 80%;
        font-family: roboto;
        color: white;
        }

        section{
        margin-top: 1.5%;
        background-color: blue;
        display: flex;
        justify-content: center;
        width: 90%;
        font-size: 80%;
        font-family: roboto;
        }

        footer{
        margin-top: 1.5%;
        margin-bottom: 1.5%;
        margin-left: 5%;
        background-color: blue;
        display: flex;
        justify-content: center;
        width: 90%;
        font-size: 60%;
        font-family: roboto;
        }

        #banner{
        border-radius: 10px;
        width: 90%;
        height: 30%;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.51);    
        }
        
        @media only screen and (max-width: 600px) {
        #contato{
        position: absolute;
        width: 5.8%;
        margin-left: 41%;
        margin-top: 9%;
        }

        #carrinho{
        position: absolute;
        width: 7%;
        margin-left: 35%;
        margin-top: 9.2%;
        }

        #sobre{
        position: absolute;
        width: 5.85%;
        margin-left: 29.5%;
        margin-top: 9%;
        }

        #inicial{
        position: absolute;
        width: 7.5%;
        margin-left: -8%;
        margin-top: 1%;
        }

        #login{
        position: absolute;
        width: 5%;
        margin-left: -41%;
        margin-top: 1%;
        }
        }

        @media only screen and (min-width: 600px) {
        #contato{
        position: absolute;
        width: 4.8%;
        margin-left: 41%;
        margin-top: 10%;
        }

        #carrinho{
        position: absolute;
        width: 6%;
        margin-left: 35%;
        margin-top: 10.2%;
        }

        #sobre{
        position: absolute;
        width: 4.85%;
        margin-left: 29.5%;
        margin-top: 10%;
        }

        #inicial{
        position: absolute;
        width: 6.5%;
        margin-left: -8%;
        margin-top: 1%;
        }

        #login{
        position: absolute;
        width: 4%;
        margin-left: -41%;
        margin-top: 1%;
        }
        }

        button#stes{
        background-image: url('C:/Users/gamer/Desktop/Site CheckPoint Games/img/st2.png');
        background-color: transparent;
        border: none;
        outline: none;
        background-size: cover;
        width: 27px;
        height: auto;
        margin-right: 0.5%;
        }

        button#stdir{
        background-image: url('C:/Users/gamer/Desktop/Site CheckPoint Games/img/st1.png');
        background-color: transparent;
        border: none;
        outline: none;
        background-size: cover;
        width: 27px;
        height: auto;
        margin-left: 0.5%;
        }

        .ct{
        box-sizing: border-box;
        width: 33.3%;
        height: 10%;
        background: linear-gradient(180deg, #D14444 0%, #6C1B1B 100%);
        border: 0.6px solid #000000;
        font-size: 70%;
        padding: 0.36%;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.51);
        }

        #prd{
        width: 100%;
        background: #1B1B1B;
        border: 2px solid #A63232;
        border-radius: 10px;
        color: white;
        }

        #pé{
        width: 100%;
        background: #1B1B1B;
        border: 2px solid #A63232;
        border-radius: 10px;
        color: white;
        display: flex;
        justify-content: center;
        padding-top: 4%;
        }

        #tit{
        width: 90%;
        background: #1B1B1B;
        border: 1px solid #27f320;
        border-radius: 20px;
        color: white;
        margin: 3%;
        font-size: 70%;
        }

        @media only screen and (min-width: 0px) {
        #busca{
        width: 95%;
        margin-right: 0.3;
        border: none;
        outline: none;
        font-size: 70%;
        }

        #pes{
        background-image: url('C:/Users/gamer/Desktop/Site CheckPoint Games/img/pes.png');
        background-repeat: no-repeat;
        background-color: white;
        background-position: center;
        border: none;
        outline: none;
        border-radius: 4px;
        background-size: 60%;
        width: 20px;
        height: auto;
        margin-left: 0.6%;
        margin-top: 0%;
        }
        }

        @media only screen and (min-width: 600px) {
        #busca{
        width: 95%;
        margin-right: 0.3;
        border: none;
        outline: none;
        font-size: 90%;
        }

        #pes{
        background-image: url('C:/Users/gamer/Desktop/Site CheckPoint Games/img/pes.png');
        background-repeat: no-repeat;
        background-color: white;
        background-position: center;
        border: none;
        outline: none;
        border-radius: 4px;
        background-size: 60%;
        width: 26px;
        height: auto;
        margin-left: 0.6%;
        margin-top: 0%;
        }
        
        #tit{
        width: 90%;
        background: #1B1B1B;
        border: 1px solid #27f320;
        border-radius: 20px;
        color: white;
        margin: 3%;
        font-size: 90%;
        }
        }

        .pdt{
        background-color: blue;
        display: flex;
        justify-content: center;
        width: 90%;
        font-size: 80%;
        font-family: roboto;
        }

        @media only screen and (min-width: 600px) {

        .ftproduto{
        width: 50%;
        border: 2px solid #27f320;
        border-radius: 20px;
        margin-bottom: 3%;
        }
        
        .pd{
        width: 60%;
        padding-top: 5%;
        padding-bottom: 5%;
        }

        .pdtxt{
        margin-left: 0%;
        font-size: 11px;
        font-family: roboto;
        text-align: left;
        width: 50%;
        }

        .pdvalor{
        font-size: 14px;
        font-family: roboto;
        text-align: left;
        color: #27f320;
        width: 50%;
        }

        .pdimg{
        display: flex;
        justify-content: center;
        }

        .cp{
        width: 20%;
        margin-top: -5%;
        position: absolute;
        }

        #pgs{

        margin-left: 2%;
        margin-right: 5%;
        font-size: 120%;
        font-family: roboto;
        }

        #pgst{
  
        margin-left: -40%;
        font-size: 160%;
        font-family: roboto;
        }

        #redes{

        margin-left: -139px;
        margin-top: 15px;
        width: 100px;
        height: 30px;
        
        }

        #lgo{

        margin-left: 30px;
        margin-right: 1%;
        margin-top: -50px;
        width: 260px;
        height: 180px;
        
        }

        #pgstt{
        margin-left: 0%;
        margin-top: 50px;
        font-size: 140%;
        font-family: roboto;
        }
        }

        @media only screen and (max-width: 600px) {

        .ftproduto{
        width: 90%;
        border: 2px solid #27f320;
        border-radius: 20px;
        margin-bottom: 3%;
        }
        
        .pd{
        width: 60%;
        padding-top: 5%;
        padding-bottom: 5%;
        }

        .pdtxt{
        margin-left: 0%;
        font-size: 9px;
        font-family: roboto;
        text-align: left;
        width: 90%;
        }

        .pdvalor{
        font-size: 12px;
        font-family: roboto;
        text-align: left;
        color: #27f320;
        margin-bottom: 10%;
        width: 90%;
        }

        .pdimg{
        display: flex;
        justify-content: center;
        }

        .cp{
        width: 30%;
        margin-top: -7%;
        position: absolute;
        }

        #pgs{

        margin-left: 2%;
        margin-right: 5%;
        font-size: 120%;
        font-family: roboto;
        }

        #pgst{
  
        margin-left: -40%;
        font-size: 160%;
        font-family: roboto;
        }

        #redes{

        margin-left: -35%;
        margin-top: 15px;
        width: 70px;
        height: 20px;
        
        }

        #lgo{

        margin-left: 30px;
        margin-right: 1%;
        margin-top: -50px;
        width: 150px;
        height: 100px;
        
        }

        #pgstt{
        margin-left: 0%;
        margin-top: 50px;
        font-size: 120%;
        font-family: roboto;
        }

        }

        
        